{% macro render_menu(items, level=1) %} {% for item in items %} {% if
item.children is defined %}
<li
    class="nav-item has-treeview {% if item.context_key in context %} menu-open {% endif %}"
>
    <a
        href="#"
        class="nav-link {% if item.context_key in context %} active {% endif %}"
    >
        <i class="nav-icon fas {{ item.icon }}"></i>
        <p>
            {{ item.label }}
            <i class="right fas fa-angle-left"></i>
        </p>
    </a>
    <ul class="nav nav-treeview">
        {{ render_menu(item.children, level + 1) }}
    </ul>
</li>
{% else %}
<li class="nav-item">
    <a
        href="{{ item.href }}"
        class="nav-link {% if item.context_key in context %} active {% endif %}"
    >
        {% if level == 1 %}
        <i class="nav-icon fas {{ item.icon }}"></i>
        {% else %}
        <i class="nav-icon far {{ item.icon }}"></i>
        {% endif %}
        <p>{{ item.label }}</p>
    </a>
</li>
{% endif %} {% endfor %} {% endmacro %}
